player-connection-mode=Listen
player-connection-guid=2419950760
player-connection-debug=0
player-connection-project-name=My project
player-connection-ip=192.168.0.104
player-connection-ip=192.168.220.1
player-connection-ip=192.168.148.1
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
